<div id="basket" class="fixed-top pr-1" style="display: none">
    <div class="col-sm-12 p-4 mt-3 mb-2" onclick="BasketClose()"></div>
    <div class="basketModal">
        <div class="col-sm-12">
            <p onclick="BasketClose()" class="m-2 pt-3 pr-3 text-end">x</p>
            <br>
            <h4 class="pl-2 pt-3 pb-2"><b>Warenkorb</b></h4>

            <div>
                <% for(let product of basket) { %>
                <p><%= product.title %></p>
                <p><%= product.price %></p>
                <% } %>
            </div>

            <button class="btn btn-md btn-primary" onclick="">Zur Kasse</button>

            <div class="w-100">
                <a href="/shop/killWarenkorb" onclick="javascript:return confirm('Alle Artikel im Warenkorb löschen?')"
                    title="Warenkorb löschen" class="btn btn-md">Warenkorb löschen</a>
            </div>
            <div class="w-100">
                <button class="btn btn-md" onclick="BasketClose()">Weiter einkaufen</button>
            </div>
        </div>
    </div>
</div>

<script>
    function BasketClose() {
        document.getElementById("basket").style.display = "none";
    }
</script>