
<%- await include('views/header.ejs', { title: product.productName }) %>

<div>
    <h1>Kasse - Login</h1>

    <form action="">
        <div>
            <label for="vorname">Vorname: </label><br>
            <input type="text" id="vorname">
        </div>
        <div>
            <label for="nachname">Nachname: </label><br>
            <input type="text" id="nachname">
        </div>
        <div>
            <label for="email">E-Mail: </label><br>
            <input type="email" id="email">
        </div>
        <br>
        <div>
            <button class="btn btn-md btn-primary"><a class="kassBtn" href="/">Einkauf Abschliessen</a></button>
        </div>
    </form>
</div>

<%- await include('views/basket.ejs', { basket: basket }) %>
<%- await include('views/footer.ejs') %>