<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>Please enter your first name</p>
    <form action="/info" method="post">
        <input type="text" name="first-name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>