body {
    font-variant: small-caps;
}
.products > img {
    width: 200px;
    height: 200px; 
}
.col{
    margin: 25px 5px;
    text-align: center;
}

.specialOffer  {
    color: red;
    text-decoration: line-through;
    margin-left: 10px;
}

.basketModal {
    width: 280px;
    display: flex;
    flex-direction: column;
    float: right;
    background-color: white;
    height: 100vh;
}