body {
    font-variant: small-caps;
}

.navbar a {
    color: inherit;
    text-decoration: inherit;
}

.picture {
    width: 200px;
    height: 200px; 
    padding: 10px;
}

.product {
    background-color: rgb(240, 240, 240);
    padding: 5px;
}

.col{
    margin: 25px 5px;
    text-align: center;
}

.specialOffer  {
    color: red;
    text-decoration: line-through;
    margin-left: 10px;
}

.basketModal {
    padding: 15px;
    width: 280px;
    display: flex;
    flex-direction: column;
    float: right;
    background-color: white;
    height: 100vh;
    overflow: scroll;
}

.basketProducts {
    background-color: rgb(240, 240, 240);
    padding: 5px;
}

.basketProducts a {
    text-decoration: none;
}

.BasketClose {
    cursor: pointer;
}

#basket {
    background-color: rgba(0, 0, 0, 0.2);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(240, 240, 240);
    text-align: center;
}